@using Core.Extentions
@model DonorApplicationListViewModel
@{
    <style>
        .modal-backdrop {
            display: none !important;
        }
    </style>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p style="color: indianred">Donör Başvuru Listesi </p>
            </div>
            <div class="card-body">
               
                <div class="col-md-3">
                    <select name="select" id="transferType" class="form-control" placheolder="Seçim Yapınız">

                        @foreach (var item in Model.TransferTypeEnumList)
                        {
                            <option value="@Convert.ToInt32(item)">@item.GetDescription()</option>

                        }

                    </select>
                </div>
                <search-field id="search" place-holder="Donör Başvurusu Arama..."></search-field>
              
                <br/>
                <table id="grid" class="table table-bordered"></table>

            </div>
        </div>
    </div>

}
<!-- Modal -->
<div class="modal fade" id="mailModal" style="margin-top: 10%;" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SendMail">
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="donorPage" value="true" id="donorPage" />
                    <label class="col-form-label-lg mail-to"></label><br />
                    <label for="message"><b>Mesaj</b></label>
                    <textarea id="w3review" class="form-control" name="message" rows="4" required>
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-shadow p-2">Gönder</button>
                    <button type="button" class="btn btn-danger btn-shadow p-2" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="filemodal" style="margin-top: 2%;margin-bottom: 2%;"  tabindex="-1"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalicerik">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-shadow p-2" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script src="~/PageJs/DonorApplicationList.js"></script>