
@model List<Models.Application.SickApplicationListModel>
@{

    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Table with hover</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td>@item.Surname</td>
                            <td>@item.Description</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
<table>
</table>
