@using Repository.Helpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @SessionHelper.DefaultSession.FirstName   @SessionHelper.DefaultSession.LastName
    <h1 class="display-4">HoşGeldiniz</h1>
</div>
